.butterbean-review-clonable {
	display: none;
}

.butterbean-review {
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #f6f6f6;
}

.butterbean-review .inside {
	padding: 11px;
}

.butterbean-review-disabled {
	opacity: 0.5;
}

.butterbean-review h2 {
	font-size: 14px;
	margin: 0;
	padding: 8px 12px;
	border-bottom: 1px solid #eee;
	line-height: 1.4;
	cursor: move;
}

.butterbean-img {
	display: block;
	width: auto;
	max-width: 100%;
	max-height: 200px;
	margin: 30px 0;
}

.butterbean-img + .butterbean-img-wrap .butterbean-placeholder,
.butterbean-img + .butterbean-img-wrap .butterbean-img-actions-no-image {
	display: none;
}

/* When there is no image set: */
.butterbean-img[src=""] + .butterbean-img-wrap .butterbean-placeholder,
.butterbean-img[src=""] + .butterbean-img-wrap .butterbean-img-actions-no-image {
   display: block;
}

.butterbean-img[src=""] + .butterbean-img-wrap .butterbean-img-actions-with-image {
	display: none;
}
